[submodule "ARPing-GUI"]
	path = ARPing-GUI
	url = ./ARPing-GUI
[submodule "WifiPineApple"]
	path = WifiPineApple
	url = https://github.com/mccabe615/WifiPineApple
[submodule "SSIDPool"]
	path = SSIDPool
	url = https://github.com/NothNoth/SSIDPool
[submodule "wifi-raspberry"]
	path = wifi-raspberry
	url = https://github.com/nemanjan00/wifi-raspberry
[submodule "PineappleSSL"]
	path = PineappleSSL
	url = https://github.com/burdzwastaken/PineappleSSL
[submodule "ManaToolkit"]
	path = ManaToolkit
	url = https://github.com/adde88/ManaToolkit
[submodule "Alias"]
	path = Alias
	url = https://github.com/L0rd-Kam0S/Alias
[submodule "captiveapple"]
	path = captiveapple
	url = https://github.com/themattbook/captiveapple
[submodule "sslstrip-hsts-openwrt"]
	path = sslstrip-hsts-openwrt
	url = https://github.com/adde88/sslstrip-hsts-openwrt
[submodule "RandomRoll"]
	path = RandomRoll
	url = https://github.com/Foxtrot/RandomRoll
[submodule "wifi-pineapple"]
	path = wifi-pineapple
	url = https://github.com/bethanysciences/wifi-pineapple
[submodule "DerbyCon_WarWalking"]
	path = DerbyCon_WarWalking
	url = https://github.com/Mr-Protocol/DerbyCon_WarWalking
[submodule "LEDController"]
	path = LEDController
	url = https://github.com/Foxtrot/LEDController
[submodule "evilportals"]
	path = evilportals
	url = https://github.com/kbeflo/evilportals
[submodule "PiSavar"]
	path = PiSavar
	url = https://github.com/WiPi-Hunter/PiSavar
[submodule "open-ssids"]
	path = open-ssids
	url = https://github.com/mubix/open-ssids
[submodule "YMail-Pineapple"]
	path = YMail-Pineapple
	url = https://github.com/JordanMilne/YMail-Pineapple
[submodule "nanothemes"]
	path = nanothemes
	url = https://github.com/crashieSWE/nanothemes
[submodule "hakology-infusions"]
	path = hakology-infusions
	url = https://github.com/caffeinemonster/hakology-infusions
[submodule "pineapple"]
	path = pineapple
	url = https://github.com/0x90/pineapple
[submodule "openwrt-packages-community"]
	path = openwrt-packages-community
	url = https://github.com/WiFiPineapple/openwrt-packages-community
[submodule "PortalAuth1"]
	path = PortalAuth1
	url = https://github.com/sud0nick/PortalAuth
[submodule "Evilportal-wifi-connect"]
	path = Evilportal-wifi-connect
	url = https://github.com/teabot5000/Evilportal-wifi-connect
[submodule "Pineapple-Confs"]
	path = Pineapple-Confs
	url = https://github.com/InteliSecureLabs/Pineapple-Confs
[submodule "Pineapple-wifi-portals"]
	path = Pineapple-wifi-portals
	url = https://github.com/Rorschach007/Pineapple-wifi-portals
[submodule "Papers"]
	path = Papers
	url = https://github.com/sud0nick/Papers
[submodule "WifiPineapple"]
	path = WifiPineapple
	url = https://github.com/b0n3zx/WifiPineapple
[submodule "ar150-wifi_pineapple"]
	path = ar150-wifi_pineapple
	url = https://github.com/serxo/ar150-wifi_pineapple
[submodule "dnsmasq_i"]
	path = dnsmasq_i
	url = https://github.com/crblanaru/dnsmasq_i
[submodule "openwrt-pineapple-nano"]
	path = openwrt-pineapple-nano
	url = https://github.com/adde88/openwrt-pineapple-nano
[submodule "pineapple-eyefi"]
	path = pineapple-eyefi
	url = https://github.com/brutalhonesty/pineapple-eyefi
[submodule "WifiPineapple2"]
	path = WifiPineapple2
	url = https://github.com/b0n3zx/WifiPineapple
[submodule "raspberry-pineapple"]
	path = raspberry-pineapple
	url = https://github.com/balena-io-playground/raspberry-pineapple
[submodule "autossh"]
	path = autossh
	url = https://github.com/audibleblink/autossh
[submodule "SSHWebClient"]
	path = SSHWebClient
	url = https://github.com/Ei8htbits/SSHWebClient
[submodule "SSIDManager"]
	path = SSIDManager
	url = https://github.com/noncenz/SSIDManager
[submodule "PiFinger"]
	path = PiFinger
	url = https://github.com/WiPi-Hunter/PiFinger
[submodule "Wifi-Pineapple-Warfare"]
	path = Wifi-Pineapple-Warfare
	url = https://github.com/NitescuLucian/Wifi-Pineapple-Warfare
[submodule "xfinity-pineapple"]
	path = xfinity-pineapple
	url = https://github.com/MikeDawg/xfinity-pineapple
[submodule "web-interface"]
	path = web-interface
	url = https://github.com/InteliSecureLabs/web-interface
[submodule "ModuleMaker"]
	path = ModuleMaker
	url = https://github.com/Foxtrot/ModuleMaker
[submodule "wifi-pineapple-themes"]
	path = wifi-pineapple-themes
	url = https://github.com/trashbo4t/wifi-pineapple-themes
[submodule "PiNokyo"]
	path = PiNokyo
	url = https://github.com/WiPi-Hunter/PiNokyo
[submodule "pineapple-wifite"]
	path = pineapple-wifite
	url = https://github.com/hanshaze/pineapple-wifite
[submodule "besside-ng_pineapple"]
	path = besside-ng_pineapple
	url = https://github.com/adde88/besside-ng_pineapple
[submodule "krackattacks-pineapple"]
	path = krackattacks-pineapple
	url = https://github.com/adde88/krackattacks-pineapple
[submodule "EvilPortalNano"]
	path = EvilPortalNano
	url = https://github.com/frozenjava/EvilPortalNano
[submodule "TospoVirus"]
	path = TospoVirus
	url = https://github.com/catatonicprime/TospoVirus
[submodule "PineappleSetupGui"]
	path = PineappleSetupGui
	url = https://github.com/phpsystems/PineappleSetupGui
[submodule "hostapd-mana"]
	path = hostapd-mana
	url = https://github.com/adde88/hostapd-mana
[submodule "PineappleSurprise"]
	path = PineappleSurprise
	url = https://github.com/troyhunt/PineappleSurprise
[submodule "wp6"]
	path = wp6
	url = https://github.com/hak5darren/wp6
[submodule "evilportal-templates"]
	path = evilportal-templates
	url = https://github.com/LucaBongiorni/evilportal-templates
[submodule "CursedScreech"]
	path = CursedScreech
	url = https://github.com/sud0nick/CursedScreech
[submodule "bash-wifi"]
	path = bash-wifi
	url = https://github.com/zachsis/bash-wifi
[submodule "WallOfSheep"]
	path = WallOfSheep
	url = https://github.com/kirinrastogi/WallOfSheep
[submodule "ModemManager"]
	path = ModemManager
	url = https://github.com/Foxtrot/ModemManager
[submodule "Pineapple-Pi"]
	path = Pineapple-Pi
	url = https://github.com/InteliSecureLabs/Pineapple-Pi
[submodule "WiFi-Pineapple-2017"]
	path = WiFi-Pineapple-2017
	url = https://github.com/smlevine/WiFi-Pineapple-2017
[submodule "pineapple-themes"]
	path = pineapple-themes
	url = https://github.com/kbeflo/pineapple-themes
[submodule "PMKID"]
	path = PMKID
	url = https://github.com/hackthebox/PMKID
[submodule "PineInfo"]
	path = PineInfo
	url = https://github.com/p3rki3/PineInfo
[submodule "WipeScanner"]
	path = WipeScanner
	url = https://github.com/jvesiluoma/WipeScanner
[submodule "wifipineapple-openwrt"]
	path = wifipineapple-openwrt
	url = https://github.com/hak5/wifipineapple-openwrt
[submodule "pineapple_grapple"]
	path = pineapple_grapple
	url = https://github.com/brutalhonesty/pineapple_grapple
[submodule "Pineapple-Data-Analysis"]
	path = Pineapple-Data-Analysis
	url = https://github.com/hahaveryfun/Pineapple-Data-Analysis
[submodule "xfinityfreewifi"]
	path = xfinityfreewifi
	url = https://github.com/blu3Alien/xfinityfreewifi
[submodule "evilportal"]
	path = evilportal
	url = https://github.com/frozenjava/evilportal
[submodule "PiDense"]
	path = PiDense
	url = https://github.com/WiPi-Hunter/PiDense
[submodule "portals"]
	path = portals
	url = https://github.com/mubix/portals
[submodule "PineappleKaliPi"]
	path = PineappleKaliPi
	url = https://github.com/matt-desmarais/PineappleKaliPi
[submodule "wifi-pineapple-defense"]
	path = wifi-pineapple-defense
	url = https://github.com/prvcy/wifi-pineapple-defense
[submodule "python-pineapple"]
	path = python-pineapple
	url = https://github.com/couchfault/python-pineapple
[submodule "wifipineapple"]
	path = wifipineapple
	url = https://github.com/Hackrylix/wifipineapple
[submodule "connectedclients"]
	path = connectedclients
	url = https://github.com/r3dfish/connectedclients
[submodule "internetShareGui"]
	path = internetShareGui
	url = https://github.com/MrG4dget/internetShareGui
[submodule "Cabinet"]
	path = Cabinet
	url = https://github.com/frozenjava/Cabinet
[submodule "Nano-Terminal"]
	path = Nano-Terminal
	url = https://github.com/Roatandave/Nano-Terminal
[submodule "TorGateway-Pineapple-Infusion"]
	path = TorGateway-Pineapple-Infusion
	url = https://github.com/kosborn/TorGateway-Pineapple-Infusion
[submodule "wifipineapple-modules"]
	path = wifipineapple-modules
	url = https://github.com/hak5/wifipineapple-modules
[submodule "meterpreter"]
	path = meterpreter
	url = https://github.com/audibleblink/meterpreter
[submodule "PortalAuth"]
	path = PortalAuth
	url = https://github.com/sud0nick/PortalAuth
[submodule "fb-login"]
	path = fb-login
	url = https://github.com/bunk3r/fb-login
[submodule "unofficialhop"]
	path = unofficialhop
	url = https://github.com/we6jbo/unofficialhop
